@model List<ChoixResto.Models.Resultats>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultats</title>
</head>
<body>


    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <h4>Résultats du sondage </h4>
        <table>
        @foreach (var resulat in Model)
        {
            <tr>
                <td> @Html.DisplayFor(r=>resulat.Nom); </td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(r=>resulat.Telephone); </td>
            </tr>
             <tr>
                <td> @Html.DisplayFor(r=>resulat.NombreDeVotes); </td>
            </tr>
        }
        </table>
         <br />
            <input type="submit" value="Valider le choix" />
        </fieldset>
    }
</body>
</html>
