@model ChoixResto.ViewModels.AccueilViewModel

<div class="text-center">
     @using (Html.BeginForm())
    {
        <fieldset>
            <ul class="list-group">
                <legend>Prêts à choisir un restaurant ?</legend>  
                <br>
                <input type="submit" class="btn btn-primary btn-lg active" value="Créer un sondage" />
                <br><br>

                <ul>
                    <li class="list-group-item">@Html.ActionLink("Ajouter un restaurant","CreerRestaurant","Restaurant")</li>
                    <li class="list-group-item">@Html.ActionLink("Modifier les restaurants","Index", "Restaurant")</li>
                </ul>
            </ul>
        </fieldset>
    }
</div>
